.navbar-open-en {
  width: 250px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.9s all;
  transform: translateX(160px);
  position: fixed;
  border-right: solid 1px #ccc;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 7;
  background-color: white;
}

.navbar-close-en {
  @extend .navbar-open-en;
  transform: translateX(-80px);
  transition: 1s all;
  border: none;
}

.navbar-open-he {
  @extend .navbar-open-en;
  right: 0;
  transform: translateX(10px);
}
.navbar-close-he {
  @extend .navbar-open-he;
  transform: translateX(260px);
  right: 0;
}

.toggleBtnStyle {
  transition: all 0.2s;

  &:hover {
    font-size: 49px !important;
  }
  &:active {
    font-size: 46px !important;
  }
}
